{% extends 'base.html' %}

{% block title %}Wellenfarbe{% endblock %}

{% block body %}
{% include 'partials/header.html' %}

<div class="container mx-auto p-6 max-w-5xl">
    <div title="wellenfarbe">
        <h1 class="text-3xl px-2">Methode</h1><br/>
        <p class="p-2 text-xl">
            Die Methode, auf der mein Coaching aufbaut, geht auf Byron Katie zurück und
            nennt sich „The Work“. <br/><br/>Sie eignet sich super für die
            Untersuchung der Glaubenssätze, die wir uns sagen, wenn wir im Teufelskreis
            der Essstörung stecken, hilft aber auch in allen anderen Lebensbereichen,
            sobald das, was wir denken, zur Belastung wird. <br/><br/>Mithilfe von 4
            Fragen und den sogenannten „Umkehrungen“ werden Glaubenssätze auf ihren
            Wahrheitsgehalt überprüft, wird das eigene Denken hinterfragt. Was simpel
            klingt und was ich selbst anfangs nicht wirklich ernst nahm, durfte ich sehr
            bald als eines der wichtigsten Werkzeuge im Umgang mit allem, was Menschen
            sich in ihren Gedanken so erzählen, kennenlernen. <br/><br/>Ich bin bis
            heute davon fasziniert, wie nachhaltig „The Work“ wirkt – am besten, man
            probiert es einfach mal aus, um sich ein Bild davon zu machen.
        </p>
    </div>
</div>

{% include 'partials/footer.html' %}
{% endblock %}